/* GLOBAL */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    padding: 1rem;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
}

.main_header{
     background-color: #FB304F;
    height: 60px;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -100px;
    padding-top: 6px;
}
.logo{
    font-size: 2.5rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
}
/* UTILITY */

.photo_layout{
     width: 400px;
    height: 600px; 
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.photo_desc{
    position: absolute;
    top: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}

.discount{
    background-color: #EB0037;
    display: inline;
    padding: 7px;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.desc_agg{
    background-color: #00875A;
    display: inline;
    padding: 7px;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.like{
    background-color: white;
    display: inline;
    text-align: center;
    position: absolute;
    right: 0;
    padding: 10px 17px;
    font-size: 2.2rem;
    margin-top: 30px;
    margin-right: 0px;
    cursor: default;

}

.not_alone_g{
        margin-left: 60px;
}

.bolder{
    font-weight: bolder;
}

.line{
    text-decoration: line-through;
}

.red{
    color: red;
}

/* MAIN */

/* CONTAINER */

#top{
    height: 600px;
    width: 1225px;
}

#bottom{
  height: 600px;  
  padding-top: 90px;
    width: 1225px;
}

/* LAYOUT FOTO */

.modello_1{
     background-image: url(./img/1.webp);
     float: left;
     position: relative;
}


.modello_1:hover{
    background-image: url(./img/1b.webp);
}


.modello_2{
     background-image: url(./img/2.webp);
     position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

.modello_2:hover{
    background-image: url(./img/2b.webp);
}

.modello_3{
     background-image: url(./img/3.webp);
     float: right;
      position: relative;
}

.modello_3:hover{
    background-image: url(./img/3b.webp);
}

.modello_4{
     background-image: url(./img/4.webp);
     float: left;
      position: relative;
}

.modello_4:hover{
    background-image: url(./img/4b.webp);
}

.modello_5{
     background-image: url(./img/5.webp);
     margin-left: 1%;
    margin-right: 1%;
     position: relative;
}

.modello_5:hover{
    background-image: url(./img/5b.webp);
}

.modello_6{
     background-image: url(./img/6.webp);
     float: right;
      position: relative;
}

.modello_6:hover{
    background-image: url(./img/6b.webp);
}
